<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlink}}
  </head>

  <body>
    <!-- navigation_menu -->
    {{>navbar}}

    <!-- main_header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left-side view -->
            <div class="col-md-6 col-10 main_header_right align-items-center">
              <figure>
                <img src="img/SEO-bro.png" alt="Satwick" class="w-80 img-fluid" />
              </figure>
            </div>
            <!-- right-side view -->
            <div class="col-md-6 col-12 main_header_left">
              <p>This weather app is developed by me.</p>
              <h2>
                I am a <span>MERN Stack Developer</span> and a CSE student.
              </h2>
              <a
                href="https://www.linkedin.com/in/satwick-verma-857095205/"
                target="_blank"
                ><button>About Me</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer-Section -->
    {{>footer}}
  </body>
</html>
